<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MindtekBatch15">
    <test name="UI Automation">
        <groups>
            <run>
                <include name="testbase"/>
                <include name="regression"/>
            </run>
        </groups>
        <classes>
            <class name="tests.CreateNewDriver"></class>
            <class name="tests.PaginationTests"></class>
            <class name="tests.SortingDriversFunctionalityTest"></class>
            <class name="tests.ValidateLogin"></class>
        </classes>
    </test>
    <test name="API Automation">
    </test>
    <test name="Mobile Automation">
    </test>
    </suite>